@import 'bootstrap/scss/bootstrap';
@import 'components/variables';
@import 'main.scss';
.canvas {
  #demoCanvas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #001d2e;
  }
}
