@import 'bootstrap/scss/bootstrap';
@import 'components/variables';
@import 'main.scss';
$green: #50ff44;
$black: #000;

// 設定基本文字字級
$font-size-base: 16;
.comic {
  width: 100%;
  margin: 0 auto;
  font-family: $fm1;
  h2 {
    font-size: rem(36);
    margin-bottom: 0;
  }
  h4 {
    font-size: rem(24);
    margin-bottom: 0;
  }
  h6 {
    font-size: rem(16);
    font-weight: 700;
  }
  &__header {
    background-color: $black;
    color: $green;
    padding: 16px 0;
    text-align: center;
    h2 {
      font-style: italic;
    }
  }
  &__main {
    width: 620px;
    margin: 0 auto;

    .item01 {
      display: flex;
      &__left {
        flex: 0 0 300px;
        .pic {
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          border: 4px solid $black;
          height: 0;
          padding-bottom: 140%;
        }
      }
      &__right {
        flex: 1 1 auto;
        .title {
          color: #fff;
          background-color: $black;
          padding: 8px 20px;
          margin-bottom: 0px;
          display: inline-block;
        }
        .content {
          padding: 20px 20px 0 20px;
          p {
            line-height: 24px;
            margin-bottom: 30px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        dl {
          box-sizing: border-box;
          display: flex;
          flex-wrap: wrap;
          width: 100%;
        }
        dt,
        dd {
          // padding: 0.375rem 0.75rem;
          font-size: rem(16);
          line-height: rem(24);
        }
        dt {
          flex: 0 0 25%;
          max-width: 25%;
        }
        dd {
          flex: 0 0 75%;
          max-width: 75%;
          margin-bottom: 8px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        .star {
          direction: rtl;
          text-align: left;
          font-size: 0;
          padding-right: 0;
          margin-bottom: 0;
          display: inline-block;
          li {
            display: inline-block;
            font-size: 16px;
            list-style: none;
            margin-right: 10px;
            &:first-child {
              margin-right: 0;
            }
            &:hover {
              color: $green;
            }
          }
          li:hover ~ li {
            color: $green;
          }
        }
      }
    }
    .item02 {
      h4 {
        background-color: $black;
        color: #fff;
        display: inline-block;
        padding: 8px 24px;
      }
      .box {
        border: 4px solid $black;
        padding: 6px 0;
        ul {
          padding-left: 0;
          margin-bottom: 0;
          li {
            list-style: none;
            &:last-child {
              margin-bottom: 0;
            }
            a {
              display: block;
              color: $black;
              text-decoration: none;
              padding: 8px 20px;
              &:hover {
                background-color: $black;
                color: #fff;
              }
            }
          }
        }
      }

      .label-green {
        background-color: $green;
        color: $black;
        font-size: rem(14);
        font-weight: bold;
        display: inline-block;
        padding: 0px 12px;
      }
    }
  }
}
