@import 'bootstrap/scss/bootstrap';
@import 'components/variables';
@import 'main.scss';
$baseColor: rgb(6, 163, 163);
$baseColorDeep: darken($baseColor, 10%);
$red: #d0021b;
$yellow: #fff2dc;
$yelloDeep: #f5a623;
$gray10: #f2f2f2;
$gray20: #e1e1e1;
$gray30: #c8c8c8;
$gray40: #757575;
body {
  background: $gray20;
}

header {
  background-color: $baseColor;
  ul {
    li {
      margin: 0 1rem;
      a {
        display: block;
        color: $baseColorDeep;
        padding: 0.75rem 1rem !important;
        &:hover {
          color: #fff;
        }
        &.active {
          border-bottom: 3px solid $baseColorDeep;
          color: #fff;
        }
      }
    }
  }
}

main {
  width: 80%;
  margin: 0 auto;
}

$p-1: 1.375rem;
$p-2: calc(#{$p-1} + 2rem);
.todoWrap {
  position: relative;
  padding-left: 0;
  padding-bottom: 2rem;
  li {
    margin-bottom: 2rem;
    list-style: none;
    background-color: $gray10;
    .todoList {
      position: relative;
      padding: $p-1;
      padding-left: $p-2 !important;
      &:hover:before {
        content: '\f142';
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        position: absolute;
        top: 50%;
        margin-top: -11px;
        left: 0.175rem;
        font-size: rem(22);
        color: $gray20;
      }
      &__left {
      }
      &__right {
        a {
          padding: 0;
          margin-left: 1rem;
          color: $baseColor;
          i {
            font-size: rem(20);
          }
        }
      }
      .pretty {
        position: absolute;
        left: $p-1;
        margin-top: 0.125rem;
      }
      h4 {
        font-size: rem(20) !important; // margin-bottom: 0;
      }
    }
    .collapse,
    .collapsing {
      position: relative;
      border-top: 1px solid $gray40;
      padding: $p-1 $p-2;
      padding-bottom: 6rem;
      .card {
        padding: 0 !important;
        border: none;
        background-color: $gray10;
        .input-group {
          position: relative;
          padding: 0 2.375rem;
          i {
            position: absolute;
            left: -2.375rem;
          }
        }
      }
    }
    .todolist-foot {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      .btn {
        border-radius: 0;
        font-size: rem(20);
        padding: 0.75rem;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
        }
      }
      .btn-cancel {
        flex: 1;
        color: $red;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
      }
      .btn-submit {
        flex: 1;
        background: $baseColor;
        color: #fff;
        box-shadow: 0 2px 4px rgba($baseColor, 0.8);
      }
    }
  }
}
